body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#testStatus {
  cursor: pointer;
}

.formOperation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}
